**/__pycache__/
.venv/
**/.idea/
*.sublime-
*.swp
*.swo
*.pyc
*.sqlite3
*.db
**/staticfiles/
#*local.env

#data/
data/nginx/logs
/data/postgres/dir/
/data/static

useFilesFromYandexDisk/static
/media/

node_modules